--extra-index-url https://download.pytorch.org/whl/cu117

numpy==1.22.3
tqdm==4.64.0
matplotlib==3.5.2
dill==0.3.5.1
pandas==1.4.3
seaborn==0.12
notebook==6.5.2
ipykernel>=6.0.0
pyarrow==8.0.0
black==22.10.0
isort==5.10.1
pytest==7.1.2
pytest-xdist==2.5.0
zarr==2.12.0

torch==1.13.1+cu117

kornia==0.6.5
pyquaternion==0.9.9
orjson==3.5.1
ncls==0.0.57
pathos==0.2.9
pykalman==0.9.5
wandb==0.12.21

# Trajdata
trajdata==1.4.0

# Installing nuscenes-devkit
opencv-python==4.6.0.66
nuscenes-devkit==1.1.9

# Buid
cmake==4.0.2
pybind11==2.13.6